::ng-deep * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0px;
    
}

.mainDiv{
    background: #1a181f;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: #ffffff;

    display: flex;
    align-items: center;

    border-style: solid;
    border-width: 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    /* border-color: rgb(159, 81, 32); */

}

.logoDiv img{
    width: 20px;
    margin-right: 25px;
}

.optionsDiv{
    flex: 1;
}

.optionsDiv ul{
    list-style: none;
    align-items: center;
    display: flex;
    padding-inline-start: 10px;
}


.optionsDiv li{
    margin-right: 25px;
}

.optionsDiv li a{
    text-decoration: none;
    transition: all ease-out 0.25s;
    color: #ffffff  ;
}

/* .optionsDiv li:hover{
    color: aqua;
    transition: 0px ease-in 1s;

    border-width: 1.5px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border-radius: 50px; */
/*} */

.optionsDiv li a:hover{
    color: aquamarine;
    transition: 0px ease-in 1s;
    border-width: 1.5px;
    border-style: solid;
    text-decoration: underline;
    text-underline-offset: 5px;    
}


.buttonsDiv button{
    border: none;
    text-decoration: none;
    background: none;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    margin-left: 10px;

    background: #115522;
    border-radius: 20px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    
}



