<nav>
    <div class="mainDiv">  <!--this is the outer div for holding all the options-->
        <div class="logoDiv">
            <img src="favicon.ico" alt="couldn't load website logo">
        </div>

        <div class="optionsDiv">
            <ul class="optionsUl">
                <li><a href="#" routerLink="home"><h3>Home</h3></a></li>
                <li><a href="#" routerLink="products"><h3>Products</h3></a></li>
                <li><a href="#" routerLink="contact"><h3>Contact</h3></a></li>
                <li><a href="#" routerLink="about"><h3>About</h3></a></li>
               
            </ul>

        </div>

        <div class="buttonsDiv">
            <button class="SwitchThemeBtn">SwitchTheme</button>
            <button class="LoginBtn" [routerLink]="'/login'">Login</button>
            <button class="SignUpBtn" [routerLink]="'/signup'">Sign-Up</button>
        </div>
    </div>
</nav>


